    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{port}}</td>
        <td>{{company}}</td>
        <td>
            <input class="form-control" name="responsible" type="text" value="{{responsible}}" />
        </td>
        <td><a href="mailto:{{email}}">{{email}}</a></td>
        <td>
            {{formatDate from}} - {{formatDate to}}
        </td>
    </tr>
